<div class="map">
    <div class="map__wrapper">
        <div class="map__contact">
            <div class="map__title">Контактная информация</div>
            <div class="map__text">Санкт-Петербург, Невский проспект 22, этаж 4, офис 7</div>
            <div class="map__text">Мы с радостью поможем вам подобрать экскурсии и <br> ответим на все ваши вопросы:</div>
            <div class="map__text">тел.: <b><a href="tel:+7-812-334-18-48" class="map__phone-number">8 (812) 334-18-48</a></b> (Санкт-Петербург)<br>
                тел.: <b><a href="tel:+7-800-333-70-48" class="map__phone-number">8 (800) 333-70-48</a></b> (Россия, звонок бесплатный)
            </div>
            <div class="map__text">e-mail: <a href="mailto:admin@citycruises.ru" class="map__link">admin@citycruises.ru</a></div>
        </div>
    </div>
    <div id="map" class="map__yandex-map"></div>
</div>
