.autopark {
  background: url('%=static=%assets/autopark-info/autopark-bg.jpg') no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 972px;
}

.autopark-wrapper {
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 149px 0 0 0;
}

.autopark-preview {
  background: rgba(86, 116, 185, .27);
  overflow: hidden;
  margin: 0 0 25px;
  padding: 90px 120px;
  position: relative;
}

.autopark__header-text {
  font-family: 'ClearSans-Bold';
  font-weight: bold;
  text-transform: uppercase;
  font-size: 30px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 130px;
  position: relative;
}

.autopark__header-text:after {
  display: block;
  content: '';
  width: 5%;
  height: 2px;
  background-color: #000000;
  position: absolute;
  left: 47%;
  bottom: -38px;
}

.autopark__preview-text {
  font-family: 'clear_sansregular';
  font-weight: normal;
  font-size: 16px;
  color: #ffffff;
  line-height: 1.5;
}


@media all and (min-width: 720px) and (max-width: 880px){
  .autopark-preview {
    padding: 45px 90px;
  }
}

@media all and (min-width: 621px) and (max-width: 820px) {

  .autopark__header-text {
    margin-bottom: 85px;
  }

  .autopark-wrapper {
    padding: 0;
  }

  .autopark-preview {
    margin-bottom: 0;
  }
}


@media all and (min-width: 481px) and (max-width: 640px) {

  .autopark-wrapper {
    padding: 0;
  }

  .autopark-preview{
    margin-bottom: 0;
    padding: 60px;
  }

  .autopark__header-text{
    margin-bottom: 90px;
  }

  .autopark__header-text:after {
    display: block;
    content: '';
    width: 20%;
    height: 2px;
    background-color: #000000;
    position: absolute;
    left: 40%;
    bottom: -38px;
  }
}

@media all and (width: 600px){

  .autopark__header-text{
    margin-bottom: 90px;
  }

  .autopark-preview {
    padding: 90px 60px 60px;
  }

  .autopark-wrapper {
    padding: 0;
  }

  .autopark-preview{
    margin-bottom: 0;
  }
}

@media all and (width: 412px){
  .autopark-wrapper {
    padding: 0;
  }

  .autopark-preview{
    margin-bottom: 0;
  }
}

@media all and (width: 384px){
  .autopark-wrapper {
    padding: 0;
  }

  .autopark-preview{
    margin-bottom: 0;
  }
}

@media all and (width: 360px){
  .autopark-wrapper {
    padding: 0;
  }

  .autopark-preview{
    margin-bottom: 0;
  }
}

@media all and (min-width: 320px) and (max-width: 480px) {
  .autopark__header-text {
    margin-bottom: 40px;
  }

  .autopark__header-text:after {
    display: none;
  }

  .autopark-preview {
    padding: 30px;
  }

  .autopark-wrapper {
    padding: 0;
  }

  .autopark-preview{
    margin-bottom: 0;
  }
}
