.autopark {
  background: url('%=static=%assets/autopark-info/autopark-bg.jpg') no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 972px;
}

.autopark-wrapper {
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 149px 0 0 0;
}

.autopark-preview {
  background: rgba(86, 116, 185, .27);
  overflow: hidden;
  margin: 0 0 25px;
  padding: 90px 120px;
  position: relative;
}

.autopark__header-text {
  font-family: 'ClearSans-Bold';
  font-weight: bold;
  text-transform: uppercase;
  font-size: 30px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 130px;
  position: relative;
}

.autopark__header-text:after {
  display: block;
  content: '';
  width: 5%;
  height: 2px;
  background-color: #000000;
  position: absolute;
  left: 47%;
  bottom: -38px;
}

.autopark__preview-text {
  font-family: 'clear_sansregular';
  font-weight: normal;
  font-size: 16px;
  color: #ffffff;
  line-height: 1.5;
}

.autopark__contact-form-block {
  background: rgba(0, 0, 0, .8);
}

.autopark__contact-form-block-wrapper {
  padding: 60px 95px;
  overflow: hidden;
}

.autopartk__left-form {
  width: 55%;
}

.autopartk__right-form {
  width: 40%;
}

.autopartk__right-form {
  float: right;
  color: #ffffff;
}

.autopark__contact-form-desc-header {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 30px;
}

.autopark__contact-form-desc-text p {
  margin-bottom: 30px;
  line-height: 1.5;
}

.form-row {
  margin-bottom: 25px;
  overflow: hidden;
}

.form-field {
  width: 30%;
  margin-right: 3%;
  display: block;
  float: left;
}

.form-field-2 {
  width: 63%;
  display: block;
  float: left;
  margin-right: 3%;
}

.form-input, .form-textarea {
  width: 100%;
  border-radius: 3px;
  border: none;
  outline: none;
  padding: 7px 2px;
  text-indent: 10px;
  color: #646464;
}

.form-textarea {
  resize: none;
}

.form-select {
  width: 100%;
  margin: 0;
  padding: 6px 5px;
  border-radius: 3px;
  text-indent: 7px;
  border: none;
  outline: none;
  color: #646464;
}

.form-select .form-select-option {
  padding: 5px 0;
}

.pull-right {
  display: block;
  text-align: right;
}

.form-btn {
  background: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  outline: none;
  padding: 10px 30px;
  margin-bottom: 15px;
  border-radius: 5px;
  font-size: 14px;

  &:hover {
    color: #646464;
    border-color: #646464;
  }
}

.error-input {
  border: 1px solid red;
  color: red;
}

.success-input {
  border: 1px solid green;
  color: green;
}

@media all and (max-width: 980px) {
  .form-field-2 {
    width: 95%;
    margin-bottom: 25px;
  }

  .form-field.btn-container {
    width: 100%;

    .pull-right {
      text-align: left;
    }

    .form-btn {
      margin-right: 15px;
    }
  }
}


@media all and (min-width: 720px) and (max-width: 880px){
  .autopark-preview {
    padding: 45px 90px;
  }
}

@media all and (min-width: 621px) and (max-width: 820px) {
  .autopartk__right-form {
    float: none;
    width: 100%;
  }

  .autopartk__left-form {
    width: 100%;
  }



  .autopark__header-text {
    margin-bottom: 85px;
  }

  .autopark-wrapper {
    padding: 0;
  }

  .autopark-preview {
    margin-bottom: 0;
  }
}

@media all and (max-width: 620px) {

  .autopark__contact-form-block-wrapper {
    padding: 40px 60px;
  }

  .form-field {
    width: 95%;
    margin-bottom: 20px;
  }

  .form-row {
    margin-bottom: 10px;
  }
}


@media all and (min-width: 481px) and (max-width: 640px) {

  .autopark__contact-form-block-wrapper {
    padding: 60px 65px;
  }

  .autopark-wrapper {
    padding: 0;
  }

  .autopartk__right-form, .autopartk__left-form {
    float: none;
    width: 95%;
  }

  .autopark-preview{
    margin-bottom: 0;
    padding: 60px;
  }

  .autopark__header-text{
    margin-bottom: 90px;
  }

  .autopark__header-text:after {
    display: block;
    content: '';
    width: 20%;
    height: 2px;
    background-color: #000000;
    position: absolute;
    left: 40%;
    bottom: -38px;
  }
}

@media all and (width: 600px){

  .autopark__header-text{
    margin-bottom: 90px;
  }

  .autopark-preview {
    padding: 90px 60px 60px;
  }

  .autopark-wrapper {
    padding: 0;
  }

  .autopartk__right-form, .autopartk__left-form {
    float: none;
    width: 95%;
  }

  .autopark-preview{
    margin-bottom: 0;
  }
}

@media all and (width: 412px){
  .autopark-wrapper {
    padding: 0;
  }

  .autopartk__right-form, .autopartk__left-form {
    float: none;
    width: 95%;
  }

  .autopark-preview{
    margin-bottom: 0;
  }
}

@media all and (width: 384px){
  .autopark-wrapper {
    padding: 0;
  }

  .autopartk__right-form, .autopartk__left-form {
    float: none;
    width: 95%;
  }

  .autopark-preview{
    margin-bottom: 0;
  }
}

@media all and (width: 360px){
  .autopark-wrapper {
    padding: 0;
  }

  .autopartk__right-form, .autopartk__left-form {
    float: none;
    width: 95%;
  }

  .autopark-preview{
    margin-bottom: 0;
  }
}

@media all and (min-width: 320px) and (max-width: 480px) {
  .autopark__header-text {
    margin-bottom: 40px;
  }

  .autopark__header-text:after {
    display: none;
  }

  .autopark-preview {
    padding: 30px;
  }

  .autopark__contact-form-block-wrapper {
    padding: 30px;
  }

  .autopark-wrapper {
    padding: 0;
  }

  .autopartk__right-form, .autopartk__left-form {
    float: none;
    width: 95%;
  }

  .autopark-preview{
    margin-bottom: 0;
  }
}
