<div class="autopark">
    <div class="autopark-wrapper">
        <div class="autopark-preview">
            <div class="autopark__header-text">Автопарк</div>
            <div class="autopark__preview-text">
                <p> Вы всегда можете обратиться к нам по вопросам предоставления транспортных услуг. Сегодня самая
                    популярная услуга для Клиентов компании - аренда автомобиля без водителя. Автопарк компании состоит
                    из самых разных марок и моделей автомобилей. Здесь есть выбор на любой вкус – есть и бюджетные
                    варианты, есть и бизнес-класс – можно подобрать для себя практически любой автомобиль в аренду.
                    Автомобили компании постоянно обновляются, мы стараемся содержать их в отличном техническом
                    состоянии.</p>
            </div>
        </div>

        <div class="autopark__contact-form-block">

            <div class="autopark__contact-form-block-wrapper">
                <div class="autopartk__right-form">
                    <div class="autopark__contact-form-desc-header">Запрос цены</div>
                    <div class="autopark__contact-form-desc-text">
                        <p>Для того, чтобы узнать цены и другие условия предоставления услуги, заполните пожалуйста
                            форму и отправте нам. Наши сотрудники свяжутся с вами.</p>
                        <p>* поля, обязательные для заполнения</p>
                    </div>
                </div>

                <div class="autopartk__left-form">
                    <form action="" method="post" class="contact-form">
                        <div class="form-row">
                            <div class="form-field">
                                <input type="text" class="form-input success-input" name="name" placeholder="Ваше имя *">
                            </div>
                            <div class="form-field">
                                <input type="text" class="form-input success-input" name="email" placeholder="Ваш email *">
                            </div>
                            <div class="form-field">
                                <select name="theme" id="theme-contact" class="form-select">
                                    <option value="1" class="form-select-option">Автопарк</option>
                                    <option value="2" class="form-select-option">Экскурсии</option>
                                    <option value="3" class="form-select-option">Бизнес-туры</option>
                                    <option value="4" class="form-select-option">VIP такси</option>
                                    <option value="5" class="form-select-option">Свадьбы</option>
                                    <option value="6" class="form-select-option">Пассажирские перевозки</option>
                                    <option value="7" class="form-select-option">Автопарк</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-field">
                                <input type="text" name="phone" class="form-input" placeholder="Ваш телефон *">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-field-2">
                                <textarea name="comment" id="comment-text" class="form-textarea" cols="30" rows="10"
                                          placeholder="Комментарий"></textarea>
                            </div>

                            <div class="form-field btn-container">
                                <div class="pull-right">
                                    <button class="form-btn" type="submit">Отправить</button>
                                    <button class="form-btn" type="reset">Сбросить</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>