<div class="bottom-menu">
    <div class="bottom-menu-wrapper">
        <ul class="menu">
            <li class="menu__item"><a href="#" class="menu__item-link">Главная</a></li>
            <li class="menu__item"><a href="#" class="menu__item-link">Услуги и цены</a></li>
            <li class="menu__item"><a href="#" class="menu__item-link">Автопарк</a></li>
            <li class="menu__item"><a href="#" class="menu__item-link">Галерея</a></li>
            <li class="menu__item"><a href="#" class="menu__item-link">О нас</a></li>
            <li class="menu__item"><a href="#" class="menu__item-link">Новости</a></li>
            <li class="menu__item"><a href="#" class="menu__item-link">Отзывы</a></li>
            <li class="menu__item"><a href="#" class="menu__item-link">Контакты</a></li>
        </ul>
    </div>
</div>