<div class="car-slider">
    <div class="car-slider-wrapper">
        <div class="car-slider-inner-wrapper">
            <ul class="car-carousel">
                <li class="car-carousel__item">
                    <a href="%=static=%img/assets/car-slider/big-cars-1.jpg" data-lightbox="cars" data-title="Экскурсии" class="car-carousel__link">
                        <img src="%=static=%img/assets/car-slider/car-1.jpg" alt="" class="car-carousel__img">
                    </a>
                </li>
                <li class="car-carousel__item">
                    <a href="%=static=%img/assets/car-slider/big-cars-2.jpg" data-lightbox="cars" data-title="Пассажирские перевозки" class="car-carousel__link">
                        <img src="%=static=%img/assets/car-slider/car-2.jpg" alt="" class="car-carousel__img">
                    </a>
                </li>
                <li class="car-carousel__item">
                    <a href="%=static=%img/assets/car-slider/big-cars-3.jpg" data-lightbox="cars" data-title="Свадьбы" class="car-carousel__link">
                        <img src="%=static=%img/assets/car-slider/car-3.jpg" alt="" class="car-carousel__img">
                    </a>
                </li>
                <li class="car-carousel__item">
                    <a href="%=static=%img/assets/car-slider/big-cars-4.jpg" data-lightbox="cars" data-title="VIP такси" class="car-carousel__link">
                        <img src="%=static=%img/assets/car-slider/car-4.jpg" alt="" class="car-carousel__img">
                    </a>
                </li>
                <li class="car-carousel__item">
                    <a href="%=static=%img/assets/car-slider/big-cars-5.jpg" data-lightbox="cars" data-title="Бизнес-туры" class="car-carousel__link">
                        <img src="%=static=%img/assets/car-slider/car-5.jpg" alt="" class="car-carousel__img">
                    </a>
                </li>
                <li class="car-carousel__item">
                    <a href="%=static=%img/assets/car-slider/big-cars-6.jpg" data-lightbox="cars" data-title="Экскурсии" class="car-carousel__link">
                        <img src="%=static=%img/assets/car-slider/car-6.jpg" alt="" class="car-carousel__img">
                    </a>
                </li>
            </ul>
            <div class="car-carousel__controls">
                <div class="car-carousel__control-item car-carousel__control-item-prev"></div>
                <div class="car-carousel__control-item car-carousel__control-item-next"></div>
            </div>
        </div>
    </div>
</div>