<div class="bottow-socmenu">
    <div class="bottom-socmenu__wrapper">
        <div class="left-menu">
            <ul class="soc-menu">
                <li class="soc-menu__item"><a href="#" class="soc-menu__link"><i class="sprite-white sprite-whatsapp-white"></i></a></li>
                <li class="soc-menu__item"><a href="#" class="soc-menu__link"><i class="sprite-white sprite-facebook-white"></i></a></li>
                <li class="soc-menu__item"><a href="#" class="soc-menu__link"><i class="sprite-white sprite-vk-white"></i></a></li>
                <li class="soc-menu__item"><a href="#" class="soc-menu__link"><i class="sprite-white sprite-instagram-white"></i></a></li>
            </ul>
        </div>
        <div class="right-menu">
            <a href="mailto:some@petro.ru" class="mail-link"><i class="sprite-white sprite-mail-white"></i></a>
            <a href="tel:+88125520100" class="phone-link">8 (812) 552-01-00</a>
        </div>
    </div>
</div>
