// Common styles of the project

html, body {
    height: 100%;
    background: black; //TODO: remove on prod?
}

.page {

}

.page__wrapper {
    min-height: 100%;
    margin-bottom: -50px;
    position: relative;
}

* html .page__wrapper {
    height: 100%;
}

//.page__buffer {
//    height: 50px;
//}

.container {
    width: 1280px;
    margin: 0 auto;
}
.page__header {
    position: absolute;
    top: 0;
    z-index: 3;
    width: 100%;
}

@media all and (max-width: 929px){
    .carousel {
        display: none;
    }
    .page__header {
        position: relative;
    }
}
