<div class="contacts-form__contact-form-block">

    <div class="contacts-form__contact-form-block-wrapper">
        <div class="contacts-form__right-form">
            <div class="contacts-form__contact-form-desc-header">{{ title }}</div>
            <div class="contacts-form__contact-form-desc-text">
                <p>Для того, чтобы узнать цены и другие условия предоставления услуги, заполните пожалуйста
                    форму и отправте нам. Наши сотрудники свяжутся с вами.</p>
                <p>* поля, обязательные для заполнения</p>
            </div>
        </div>

        <div class="contacts-form__left-form">
            <form action="" method="post" class="contact-form">
                <div class="form-row">
                    <div class="form-field">
                        <input type="text" class="form-input success-input" name="name" placeholder="Ваше имя *" tabindex="1">
                    </div>
                    <div class="form-field">
                        <input type="text" class="form-input success-input" name="email" placeholder="Ваш email *" tabindex="2">
                    </div>
                    <div class="form-field">
                        <select name="theme" id="theme-contact" class="form-select" tabindex="3">
                            <option value="1" class="form-select-option">Автопарк</option>
                            <option value="2" class="form-select-option">Экскурсии</option>
                            <option value="3" class="form-select-option">Бизнес-туры</option>
                            <option value="4" class="form-select-option">VIP такси</option>
                            <option value="5" class="form-select-option">Свадьбы</option>
                            <option value="6" class="form-select-option">Пассажирские перевозки</option>
                            <option value="7" class="form-select-option">Автопарк</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-field">
                        <input type="text" name="phone" class="form-input" placeholder="Ваш телефон *" tabindex="4">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-field-2">
                                <textarea name="comment" id="comment-text" class="form-textarea" cols="30" rows="10"
                                          placeholder="Комментарий" tabindex="5"></textarea>
                    </div>

                    <div class="form-field btn-container">
                        <div class="pull-right">
                            <button class="form-btn" type="submit">Отправить</button>
                            <button class="form-btn" type="reset">Сбросить</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
