<div class="footer">
    {{> bottom-menu/bottom-menu}}
    {{> bottom-socmenu/bottom-socmenu}}
    {{> copyrights/copyrights}}
</div>
<script src="%=static=%js/separate-js/jquery.min.js"></script>
<script src="%=static=%js/separate-js/jquery.mixitup.min.js"></script>
<script src="%=static=%js/separate-js/featherlight.min.js"></script>
<script src="%=static=%js/separate-js/lightbox.min.js"></script>
<script src="%=static=%js/separate-js/owl.carousel.min.js"></script>
<script src="%=static=%js/separate-js/formstone/core.js"></script>
<script src="%=static=%js/separate-js/formstone/equalize.js"></script>
<script src="%=static=%js/separate-js/formstone/mediaquery.js"></script>
