<div class="topbar">
    <div class="container">
        <div class="topbar__mail">

        </div>
        <div class="topbar__social">
            <ul class="social__list">
                <li class="social__item"><a href="#" class="social__link"><i class="sprite sprite-whatsapp"></i></a></li>
                <li class="social__item"><a href="#" class="social__link"><i class="sprite sprite-facebook"></i></a></li>
                <li class="social__item"><a href="#" class="social__link"><i class="sprite sprite-vk"></i></a></li>
                <li class="social__item"><a href="#" class="social__link"><i class="sprite sprite-instagram"></a></i></li>
            </ul>
        </div>
    </div>
</div>


