<div class="topbar">
    <div class="topbar-wrapper">
        <div class="topbar__mail">
            <a href="#" class="mail-link">
                <i class="sprite sprite-mail"></i>
            </a>
        </div>
        <div class="topbar__social">

            <ul class="social__list">
                <li class="social__item"><a href="#" class="social__link"><i class="sprite sprite-whatsapp"></i></a>
                </li>
                <li class="social__item"><a href="#" class="social__link"><i class="sprite sprite-facebook"></i></a>
                </li>
                <li class="social__item"><a href="#" class="social__link"><i class="sprite sprite-vk"></i></a></li>
                <li class="social__item"><a href="#" class="social__link"><i class="sprite sprite-instagram"></i></a>
                </li>
            </ul>

            <div class="phone-topbar">
                <a class="phone-topbar__link" href="tel:+8(812)552-01-00">8(812) 552-01-00</a>
            </div>

        </div>
    </div>
</div>


