<div class="topbar">
    <div class="container">
        <div class="row">
            <div class="col-md-8 hidden-xs">
                <a href="mailto:test@example.com" class="topbar__mail">
                    <i class="sprite sprite-mail"></i>
                </a>
            </div>
            <div class="col-md-4 col-xs-8">
                <span class="topbar__phone pull-right">
                    8 (812) 552-01-00
                </span>
            </div>
            <div class="col-md-2 col-xs-6">
                <span class="topbar__social pull-right">
                    <i class="sprite sprite-whatsapp"></i>
                    <i class="sprite sprite-facebook"></i>
                    <i class="sprite sprite-vk"></i>
                    <i class="sprite sprite-instagram"></i>
                </span>
            </div>
        </div>
    </div>
</div>
