<div class="list-employeers">
    <div class="list-employeers__wrapper">
        <div class="list-employeers__header">Наша команда</div>
        <div class="list-employeers__inner-wrapper">
            <ul class="employeers-list">
                <li class="employeer__item">
                    <a href="#" class="employeer__item-link">
                        <img src="%=static=%img/assets/list-employeers/employeer-1.jpg" alt="" class="employeer__item-img">
                        <span class="employeer__name">Николай Евдокимов</span>
                        <span class="emploteer__post">Основатель</span>
                    </a>
                </li>
                <li class="employeer__item">
                    <a href="#" class="employeer__item-link">
                        <img src="%=static=%img/assets/list-employeers/employeer-2.jpg" alt="" class="employeer__item-img">
                        <span class="employeer__name">Елена Андреева</span>
                        <span class="emploteer__post">Экскурсионное бюро</span>
                    </a>
                </li>
                <li class="employeer__item">
                    <a href="#" class="employeer__item-link">
                        <img src="%=static=%img/assets/list-employeers/employeer-3.jpg" alt="" class="employeer__item-img">
                        <span class="employeer__name">Мария Путина</span>
                        <span class="emploteer__post">Бюро "VIP такси"</span>
                    </a>
                </li>
                <li class="employeer__item">
                    <a href="#" class="employeer__item-link">
                        <img src="%=static=%img/assets/list-employeers/employeer-4.jpg" alt="" class="employeer__item-img">
                        <span class="employeer__name">Анжела Петрова</span>
                        <span class="emploteer__post">Загородные экскурсии</span>
                    </a>
                </li>
                <li class="employeer__item">
                    <a href="#" class="employeer__item-link">
                        <img src="%=static=%img/assets/list-employeers/employeer-5.jpg" alt="" class="employeer__item-img">
                        <span class="employeer__name">Михаил Касьянов</span>
                        <span class="emploteer__post">Заместитель директора</span>
                    </a>
                </li>
                <li class="employeer__item">
                    <a href="#" class="employeer__item-link">
                        <img src="%=static=%img/assets/list-employeers/employeer-6.jpg" alt="" class="employeer__item-img">
                        <span class="employeer__name">Евгения Анисимова</span>
                        <span class="emploteer__post">Служба логистики</span>
                    </a>
                </li>
                <li class="employeer__item">
                    <a href="#" class="employeer__item-link">
                        <img src="%=static=%img/assets/list-employeers/employeer-7.jpg" alt="" class="employeer__item-img">
                        <span class="employeer__name">Юлия Анохина</span>
                        <span class="emploteer__post">PR-менеджер</span>
                    </a>
                </li>
                <li class="employeer__item">
                    <a href="#" class="employeer__item-link">
                        <img src="%=static=%img/assets/list-employeers/employeer-8.jpg" alt="" class="employeer__item-img">
                        <span class="employeer__name">Юрий Гагарин</span>
                        <span class="emploteer__post">Директор по развитию</span>
                    </a>
                </li>
                <li class="employeer__item">
                    <a href="#" class="employeer__item-link">
                        <img src="%=static=%img/assets/list-employeers/employeer-9.jpg" alt="" class="employeer__item-img">
                        <span class="employeer__name">Василий Северский</span>
                        <span class="emploteer__post">Финансовый директор</span>
                    </a>
                </li>
                <li class="employeer__item">
                    <a href="#" class="employeer__item-link">
                        <img src="%=static=%img/assets/list-employeers/employeer-10.jpg" alt="" class="employeer__item-img">
                        <span class="employeer__name">Семен Светлаков</span>
                        <span class="emploteer__post">Генеральный директор</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
