.list-employeers{
  background: #ffffff;
  width: 100%;
  margin: 0;
  padding: 0 0 30px;
  position: relative;
}

.list-employeers__wrapper{
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  padding: 65px 0 0;
}

.list-employeers__header{
  text-align: center;
  font-family: 'ClearSans-Bold';
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 90px;
  position: relative;
}

.list-employeers__header:after{
  content: '';
  display: block;
  height: 2px;
  width: 6%;
  position: absolute;
  left: 47%;
  background-color: #009fe3;
  bottom: -45px;
}

.list-employeers__inner-wrapper {
  max-width: 690px;
  min-width: 320px;
  padding: 60px 0 0;
  text-align: center;
  margin: 0 auto 100px;
}

.employeers-list{
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.employeer__item{
  width: 160px;
  display: block;
  float: left;
  margin: 0 70px 70px 0;

  &:hover .employeer__item-link{
    color: #5c5c5c;
  }
}

.employeer__item-img{
  width: 100%;
  max-width: 160px;
  border-radius: 50%;
  text-align: center;
  clear: both;
  display: block;
  margin-bottom: 10px;
}

.employeer__item-link{
  color: #000000;
  text-decoration: none;
}

.employeer__name, .emploteer__post{
  text-align: left;
  display: block;
  width: 100%;
  clear: both;
}

.emploteer__post{
  font-style: italic;
}

.employeer__name{
  font-weight: bold;
}

.about-us__contact-form-wrapper{
  margin-bottom: 30px;
}

@media all and (max-width: 689px) {

  .list-employeers{
    padding: 0 0 20px;
  }

  .employeer__item{
    width: 200px;
    display: block;
    float: left;
    margin: 0 30px 70px 70px;
  }

  .employeer__item-img{
    width: 100%;
    max-width: 200px;
    border-radius: 50%;
    text-align: center;
    clear: both;
    display: block;
    margin-bottom: 10px;
  }
}


@media all and (max-width: 620px) {

  .list-employeers{
    padding: 0 0 15px;
  }

  .employeer__item{
    width: 200px;
    display: block;
    float: left;
    margin: 0 30px 70px 50px;
  }
}

@media all and (max-width: 575px){

  .list-employeers{
    padding: 0 0 10px;
  }

  .list-employeers__header{
    margin-bottom: 15px;
  }
  
  .employeer__item {
    width: 100%;
    display: block;
    text-align: center;
    margin: 0 auto 40px;
    clear: both;
  }

  .employeer__item-img{
    margin: 0 auto 10px;
  }

  .employeer__name, .emploteer__post{
    text-align: center;
  }

}