<div class="gallery">
    <div class="gallery-wrapper">
        <div class="gallery-content">
            <h3 class="gallery__page-title">Галерея</h3>
            <div class="list-gallery">
                <!-- Фильтр для галереи -->
                <div class="filter-gallery">
                    <ul class="filter-list">
                        <li class="filter filter-all" data-filter="all">Все</li>
                        <li class="filter" data-filter=".ecsursion">Экскурсии</li>
                        <li class="filter" data-filter=".business">Бизнес-туры</li>
                        <li class="filter" data-filter=".transfer">Трансферы</li>
                        <li class="filter" data-filter=".vip-taxi">VIP такси</li>
                        <li class="filter" data-filter=".wedding">Свадьба</li>
                        <li class="filter" data-filter=".traffic">Пассажирские перевозки</li>
                        <li class="filter" data-filter=".others">Разное</li>
                    </ul>
                </div>

                <!-- Сами элемент галереи -->
                <div class="gallery-items">
                    <ul class="gallery__items-list" id="gallery__items-list">
                        <li class="gallery__item-image ecsursion">
                            <a href="#" class="gallery__item-link">
                                <img src="%=static=%img/assets/gallery/gallery-1.jpg" alt="" class="gallery__item-img">
                                <span class="gallery__item-desc">Экскурсии</span>
                            </a>
                        </li>
                        <li class="gallery__item-image business others">
                            <a href="#" class="gallery__item-link">
                                <img src="%=static=%img/assets/gallery/gallery-2.jpg" alt="" class="gallery__item-img">
                                <span class="gallery__item-desc">Бизнес-туры</span>
                            </a>
                        </li>
                        <li class="gallery__item-image ecsursion transfer">
                            <a href="#" class="gallery__item-link">
                                <img src="%=static=%img/assets/gallery/gallery-3.jpg" alt="" class="gallery__item-img">
                                <span class="gallery__item-desc">Трансферы</span>
                            </a>
                        </li>
                        <li class="gallery__item-image business transfer vip-taxi">
                            <a href="#" class="gallery__item-link">
                                <img src="%=static=%img/assets/gallery/gallery-4.jpg" alt="" class="gallery__item-img">
                                <span class="gallery__item-desc">VIP такси</span>
                            </a>
                        </li>
                        <li class="gallery__item-image ecsursion business wedding traffic">
                            <a href="#" class="gallery__item-link">
                                <img src="%=static=%img/assets/gallery/gallery-5.jpg" alt="" class="gallery__item-img">
                                <span class="gallery__item-desc">Свадьбы</span>
                            </a>
                        </li>
                        <li class="gallery__item-image transfer traffic">
                            <a href="#" class="gallery__item-link">
                                <img src="%=static=%img/assets/gallery/gallery-6.jpg" alt="" class="gallery__item-img">
                                <span class="gallery__item-desc">Пассажирские перевозки</span>
                            </a>
                        </li>
                        <li class="gallery__item-image traffic ecsursion others">
                            <a href="#" class="gallery__item-link">
                                <img src="%=static=%img/assets/gallery/gallery-7.jpg" alt="" class="gallery__item-img">
                                <span class="gallery__item-desc">Питер зимой</span>
                            </a>
                        </li>
                        <li class="gallery__item-image vip-taxi traffic others">
                            <a href="#" class="gallery__item-link">
                                <img src="%=static=%img/assets/gallery/gallery-8.jpg" alt="" class="gallery__item-img">
                                <span class="gallery__item-desc">Мосты</span>
                            </a>
                        </li>
                        <li class="gallery__item-image ecsursion wedding">
                            <a href="#" class="gallery__item-link">
                                <img src="%=static=%img/assets/gallery/gallery-9.jpg" alt="" class="gallery__item-img">
                                <span class="gallery__item-desc">Свадьбы</span>
                            </a>
                        </li>
                        <li class="gallery__item-image transfer vip-taxi">
                            <a href="#" class="gallery__item-link">
                                <img src="%=static=%img/assets/gallery/gallery-10.jpg" alt="" class="gallery__item-img">
                                <span class="gallery__item-desc">Пассажирские перевозки</span>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>