<div class="news-item">
    <div class="news-item__wrapper">
        <!-- Блок с контентом -->
        <div class="news-item__content-bar sidebar">
            <div class="news-item__content-inner-wrapper">
                <div class="news-item__header">
                    <span class="news-item__pubdate">11 мая 2016</span> | <span class="news-item__title">График разводки мостов 2016</span>
                </div>
                <div class="news-item__image-wrapper">
                    <img src="%=static=%img/assets/news-item/news-item-image.png" class="news-item__image" alt="">
                </div>

                <div class="news-item__content-wrapper">
                    <p>Невозможно представить себе Петербург без мостов. Всего в городе более 300 мостов, 13 из которых
                        разводятся. Примерно с конца апреля по ноябрь месяц начинается период летней навигации. Развод
                        мостов в Петербурге — одно из самых красивых зрелищ для гостей города.</p>
                </div>

                <div class="news-item__back-btn-wrapper">
                    <a href="/news-list.html" class="news-list__back-btn">Назад к новостям</a>
                </div>
            </div>
        </div>

        <!-- Правый сайдбар -->
        <div class="news-item__left-sidebar sidebar">
            <div class="news-item__left-sidebar-wrapper">
                <div class="news-item__left-sidebar-header">Последние новости</div>
                <ul class="last-news__list">
                    <li class="last-news__item">
                        <div class="last-news__pubdate">11 мая 2016</div>
                        <div class="last-news__title"><a href="#" class="last-news__link">Новое пополнение в нашем
                            автопарке</a></div>
                        <div class="last-news__preview-text">
                            <p class="last-news__preview-content"><a href="#" class="last-news__link">Новые автомобили
                                ждут вас!</a></p>
                        </div>
                    </li>
                    <li class="last-news__item">
                        <div class="last-news__pubdate">11 мая 2016</div>
                        <div class="last-news__title"><a href="#" class="last-news__link">Новое пополнение в нашем
                            автопарке</a></div>
                        <div class="last-news__preview-text">
                            <p class="last-news__preview-content"><a href="#" class="last-news__link">Новые автомобили
                                ждут вас!</a></p>
                        </div>
                    </li>
                    <li class="last-news__item">
                        <div class="last-news__pubdate">11 мая 2016</div>
                        <div class="last-news__title"><a href="#" class="last-news__link">Новое пополнение в нашем
                            автопарке</a></div>
                        <div class="last-news__preview-text">
                            <p class="last-news__preview-content"><a href="#" class="last-news__link">Новые автомобили
                                ждут вас!</a></p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>