<div class="service-info">
    <div class="service-info-wrapper">
        <div class="service-info-preview">
            <div class="service-info__header-text">ЭКСКУРСИИ</div>
            <div class="service-info__preview-text">
                <p> Вы первый раз в Петербурге? С главными достопримечательностями северной столицы России лучше всего
                    познакомит обзорная автобусная экскурсия. Вы узнаете основные сведения о самых известных
                    петербургских зданиях, памятниках, улицах и площадях, садах и парках, о главных событиях из жизни
                    Петербурга. Автобус вас довезёт до тех мест, куда гостю города будет не просто добраться самому на
                    общественном транспорте или пешком. Во время такой экскурсии вы составите своё первое впечатление о
                    Санкт-Петербурге, составите дальнейший план знакомства с ним.
                    После завершения 1,5-2-часовой экскурсии по историческому центру Санкт-Петербурга, при желании, вы
                    сможете без очереди посетить Эрмитаж, Кунсткамеру, Петропавловскую крепость, Спас-на-Крови или
                    Исаакиевский собор.</p>
            </div>
        </div>

        {{> contact-form/contact-form title="Запрос цены" }}
    </div>
</div>
