<div class="about-preview">
    <div class="about-preview__wrapper">
        <div class="about-preview__content">
            <div class="about-preview__content-header">О нас</div>
            <div class="about-preview__content-desc">
                <p>18 лет со своими клиентами.</p>
                <p>Наша турфирма занимается успешной деятельностью с 1997 года и в настоящее время является одним из ведущих туроператоров по внутреннему туризму и приёму в Санкт-Петербурге.</p>
                <p>За годы интересной и насыщенной работы более 50 000 туристов из городов России, СНГ, стран Европы, Азии, Скандинавии (Швеции, Финляндии, Норвегии, Швейцарии, Германии, Польши, Франции, Китая и многих других).</p>
                <p>"ГРАД ПЕТРА" - Ведущий оператор по приёму в Санкт-Петербурге.</p>
                <p>Отдельная страница в истории становления компании - экскурсионные программы по Санкт-Петербургу и Ленинградской области, которые заслужили высокую репутацию как среди гостей Северной столицы, так и у жителей нашего прекрасного города.</p>
                <p>Более 300 уникальных маршрутов, разработанных профессионалами нашей компании вошли в специальный "Каталог экскурсий по Санкт-Петербургу, Ленинградской области и Северо-Западу" (Издание 2007 г.) и "Каталог экскурсионных туров по России" (2006 г.)</p>
                <p>Корпоративный отдых и программы для частных лиц.</p>
                <p>Деятельность фирмы вызывает интерес и пользуется большой популярностью не только у частных лиц, но и у корпоративных клиентов, среди которых Всемирный Конгресс Кардиологов, ГЕМИНИ ФИЛЬМ, Телеканал Россия, Ломоносовский фарфоровый Завод, Адмиралтейские верфи.</p>
                <p>Гёте-институт, NOKIA и многие другие компании. Для организаций и различных компаний мы предлагаем специальный пакет услуг в Санкт-Петербурге по самому широкому спектру, начиная от бронирования гостиниц и заканчивая организацией деловых мероприятий на берегах Северной Венеции.</p>
            </div>
        </div>
    </div>
</div>