<div class="post-list">
    <div class="post-list__wrapper">
        <div class="post-list__header">Новости</div>
        <div class="post-list__inner-wrapper">
            <!-- Ссылки по годам -->
            <div class="post-list__years-list-links">
                <ul class="year-list-links">
                    <li class="year-list-links__item year-list-links__item-all"><a href="#"
                                                                                   class="year-list-links__link">Все</a>
                    </li>
                    <li class="year-list-links__item"><a href="#" class="year-list-links__link">2014</a></li>
                    <li class="year-list-links__item"><a href="#" class="year-list-links__link">2015</a></li>
                    <li class="year-list-links__item"><a href="#" class="year-list-links__link">2016</a></li>
                </ul>
            </div>

            <!-- Список постов -->
            <div class="post-list-items">
                <ul class="post-list-item__list">
                    <li class="post-lists-items__item">
                        <img src="%=static=%img/assets/post-list/news-1.jpg" alt="" class="post-list__item-thumb">

                        <div class="post-list__content-wrapper">
                            <div class="post-list-item__pubdate"><a href="/news-item.html" class="post-list-item__link">11 мая
                                2016</a></div>
                            <h4 class="post-list-item__header"><a href="/news-item.html" class="post-list-item__link">График разводки
                                мостов 2016</a></h4>
                            <p class="post-list-item__preview-text"><a href="/news-item.html" class="post-list-item__link">Невозможно
                                представить себе
                                Петербург без мостов. Всего в городе более 300 мостов</a></p></div>
                    </li>
                    <li class="post-lists-items__item">
                        <img src="%=static=%img/assets/post-list/news-2.jpg" alt="" class="post-list__item-thumb">

                        <div class="post-list__content-wrapper">
                            <div class="post-list-item__pubdate"><a href="/news-item.html" class="post-list-item__link">11 мая
                                2016</a></div>
                            <h4 class="post-list-item__header"><a href="/news-item.html" class="post-list-item__link">График разводки
                                мостов 2016</a></h4>
                            <p class="post-list-item__preview-text"><a href="/news-item.html" class="post-list-item__link">Невозможно
                                представить себе
                                Петербург без мостов. Всего в городе более 300 мостов</a></p></div>
                    </li>
                    <li class="post-lists-items__item">
                        <img src="%=static=%img/assets/post-list/news-3.jpg" alt="" class="post-list__item-thumb">

                        <div class="post-list__content-wrapper">
                            <div class="post-list-item__pubdate"><a href="/news-item.html" class="post-list-item__link">11 мая
                                2016</a></div>
                            <h4 class="post-list-item__header"><a href="/news-item.html" class="post-list-item__link">График разводки
                                мостов 2016</a></h4>
                            <p class="post-list-item__preview-text"><a href="/news-item.html" class="post-list-item__link">Невозможно
                                представить себе
                                Петербург без мостов. Всего в городе более 300 мостов</a></p></div>
                    </li>
                    <li class="post-lists-items__item">
                        <img src="%=static=%img/assets/post-list/news-4.jpg" alt="" class="post-list__item-thumb">

                        <div class="post-list__content-wrapper">
                            <div class="post-list-item__pubdate"><a href="/news-item.html" class="post-list-item__link">11 мая
                                2016</a></div>
                            <h4 class="post-list-item__header"><a href="/news-item.html" class="post-list-item__link">График разводки
                                мостов 2016</a></h4>
                            <p class="post-list-item__preview-text"><a href="/news-item.html" class="post-list-item__link">Невозможно
                                представить себе
                                Петербург без мостов. Всего в городе более 300 мостов</a></p></div>
                    </li>
                    <li class="post-lists-items__item">
                        <img src="%=static=%img/assets/post-list/news-5.jpg" alt="" class="post-list__item-thumb">

                        <div class="post-list__content-wrapper">
                            <div class="post-list-item__pubdate"><a href="/news-item.html" class="post-list-item__link">11 мая
                                2016</a></div>
                            <h4 class="post-list-item__header"><a href="/news-item.html" class="post-list-item__link">График разводки
                                мостов 2016</a></h4>
                            <p class="post-list-item__preview-text"><a href="/news-item.html" class="post-list-item__link">Невозможно
                                представить себе
                                Петербург без мостов. Всего в городе более 300 мостов</a></p></div>
                    </li>
                    <li class="post-lists-items__item">
                        <img src="%=static=%img/assets/post-list/news-6.jpg" alt="" class="post-list__item-thumb">

                        <div class="post-list__content-wrapper">
                            <div class="post-list-item__pubdate"><a href="/news-item.html" class="post-list-item__link">11 мая
                                2016</a></div>
                            <h4 class="post-list-item__header"><a href="/news-item.html" class="post-list-item__link">График разводки
                                мостов 2016</a></h4>
                            <p class="post-list-item__preview-text"><a href="/news-item.html" class="post-list-item__link">Невозможно
                                представить себе
                                Петербург без мостов. Всего в городе более 300 мостов</a></p></div>
                    </li>
                    <li class="post-lists-items__item">
                        <img src="%=static=%img/assets/post-list/news-7.jpg" alt="" class="post-list__item-thumb">

                        <div class="post-list__content-wrapper">
                            <div class="post-list-item__pubdate"><a href="/news-item.html" class="post-list-item__link">11 мая
                                2016</a></div>
                            <h4 class="post-list-item__header"><a href="/news-item.html" class="post-list-item__link">График разводки
                                мостов 2016</a></h4>
                            <p class="post-list-item__preview-text"><a href="/news-item.html" class="post-list-item__link">Невозможно
                                представить себе
                                Петербург без мостов. Всего в городе более 300 мостов</a></p></div>
                    </li>
                    <li class="post-lists-items__item">
                        <img src="%=static=%img/assets/post-list/news-8.jpg" alt="" class="post-list__item-thumb">

                        <div class="post-list__content-wrapper">
                            <div class="post-list-item__pubdate"><a href="/news-item.html" class="post-list-item__link">11 мая
                                2016</a></div>
                            <h4 class="post-list-item__header"><a href="/news-item.html" class="post-list-item__link">График разводки
                                мостов 2016</a></h4>
                            <p class="post-list-item__preview-text"><a href="/news-item.html" class="post-list-item__link">Невозможно
                                представить себе
                                Петербург без мостов. Всего в городе более 300 мостов</a></p></div>
                    </li>
                    <li class="post-lists-items__item">
                        <img src="%=static=%img/assets/post-list/news-9.jpg" alt="" class="post-list__item-thumb">

                        <div class="post-list__content-wrapper">
                            <div class="post-list-item__pubdate"><a href="/news-item.html" class="post-list-item__link">11 мая
                                2016</a></div>
                            <h4 class="post-list-item__header"><a href="/news-item.html" class="post-list-item__link">График разводки
                                мостов 2016</a></h4>
                            <p class="post-list-item__preview-text"><a href="/news-item.html" class="post-list-item__link">Невозможно
                                представить себе
                                Петербург без мостов. Всего в городе более 300 мостов</a></p></div>
                    </li>
                    <li class="post-lists-items__item">
                        <img src="%=static=%img/assets/post-list/news-10.jpg" alt="" class="post-list__item-thumb">

                        <div class="post-list__content-wrapper">
                            <div class="post-list-item__pubdate"><a href="/news-item.html" class="post-list-item__link">11 мая
                                2016</a></div>
                            <h4 class="post-list-item__header"><a href="/news-item.html" class="post-list-item__link">График разводки
                                мостов 2016</a></h4>
                            <p class="post-list-item__preview-text"><a href="/news-item.html" class="post-list-item__link">Невозможно
                                представить себе Петербург без мостов. Всего в городе более 300 мостов. Невозможно
                                представить себе Петербург без мостов. Всего в городе более 300 мостов</a></p></div>
                    </li>
                    <li class="post-lists-items__item">
                        <img src="%=static=%img/assets/post-list/news-11.jpg" alt="" class="post-list__item-thumb">

                        <div class="post-list__content-wrapper">
                            <div class="post-list-item__pubdate"><a href="/news-item.html" class="post-list-item__link">11 мая
                                2016</a></div>
                            <h4 class="post-list-item__header"><a href="/news-item.html" class="post-list-item__link">График разводки
                                мостов 2016</a></h4>
                            <p class="post-list-item__preview-text"><a href="/news-item.html" class="post-list-item__link">Невозможно
                                представить себе
                                Петербург без мостов. Всего в городе более 300 мостов</a></p></div>
                    </li>
                    <li class="post-lists-items__item">
                        <img src="%=static=%img/assets/post-list/news-12.jpg" alt="" class="post-list__item-thumb">

                        <div class="post-list__content-wrapper">
                            <div class="post-list-item__pubdate"><a href="/news-item.html" class="post-list-item__link">11 мая
                                2016</a></div>
                            <h4 class="post-list-item__header"><a href="/news-item.html" class="post-list-item__link">График разводки
                                мостов 2016</a></h4>
                            <p class="post-list-item__preview-text"><a href="/news-item.html" class="post-list-item__link">Невозможно
                                представить себе
                                Петербург без мостов. Всего в городе более 300 мостов</a></p></div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>