<div class="news-list">
    <div class="news-list-wrapper">
        <div class="news-list__title">Новости</div>
        <div class="list-posts-wrapper">
            <ul class="list-posts">
                <li class="news-list__item">
                    <div class="date-published">11 мая 2016</div>
                    <h4 class="news-list__item-title"><a href="#" class="news-list__item-link">График разводки мостов 2016</a></h4>
                    <p class="news-list__item-preview">Невозможно представить себе Петербург без мостов. Всего в городе
                        более 300 мостов...</p>
                    <p class="news-list__item-readme"><a href="#" class="news-list__item-link">подробнее</a></p>
                </li>
                <li class="news-list__item">
                    <div class="date-published">11 мая 2016</div>
                    <h4 class="news-list__item-title"><a href="#" class="news-list__item-link">Экскурсия<br />на дамбу</a></h4>
                    <p class="news-list__item-preview">Экскурсияна Дамбу – это уникальная возможность своими глазами
                        увидеть изнутри весь Комплекс Защитных Сооружений Санкт-Петербурга от наводнений. Экскурсияна Дамбу – это уникальная возможность своими глазами
                        увидеть изнутри весь Комплекс Защитных – это уникальная возможность своими глазами
                        увидеть изнутри весь Комплекс Защитных Сооружений Санкт-Петербурга от наводнений.</p>
                    <p class="news-list__item-readme"><a href="#" class="news-list__item-link">подробнее</a></p>
                </li>
                <li class="news-list__item">
                    <div class="date-published">11 мая 2016</div>
                    <h4 class="news-list__item-title"><a href="#" class="news-list__item-link">График разводки мостов 2016</a></h4>
                    <p class="news-list__item-preview">Невозможно представить себе Петербург без мостов. Всего в городе более 300 мостов...</p>
                    <p class="news-list__item-readme"><a href="#" class="news-list__item-link">подробнее</a></p>
                </li>
                <li class="news-list__item">
                    <div class="date-published">11 мая 2016</div>
                    <h4 class="news-list__item-title"><a href="#" class="news-list__item-link">График разводки мостов 2016</a></h4>
                    <p class="news-list__item-preview">Невозможно представить себе Петербург без мостов. Всего в городе более 300 мостов...</p>
                    <p class="news-list__item-readme"><a href="#" class="news-list__item-link">подробнее</a></p>
                </li>
            </ul>
        </div>
    </div>
</div>