<div class="carousel">
    <div id="owl-demo" class="owl-carousel owl-theme">

        <div class="item">
            <div class="carousel__wrapper">
                <div class="carousel__content">
                    <span class="carousel__description">Откройте для себя настоящий test</span><br>
                    <span class="carousel__title">Санкт-Петербург</span>
                </div>
            </div>
            <img src="%=static=%img/assets/carousel/slide1.png" alt="The Last of us"></div>
        <div class="item"><img src="%=static=%img/assets/carousel/slide1.png" alt="GTA V"></div>
        <div class="item"><img src="%=static=%img/assets/carousel/slide1.png" alt="Mirror Edge"></div>

    </div>
</div>
