<div class="navbar">
    <div class="navbar-wrapper">
        <div class="logo-wrapper">
            <div class="logo">
                <a href="/" class="logo__link">
                    <img src="%=static=%img/assets/navbar/logo.png" class="logo__img" alt="">
                </a>
            </div>
        </div>

        <div class="navigation">
            <ul class="top-menu">
                <li class="top-menu__item"><a href="#" class="top-menu__link">О нас</a></li>
                <li class="top-menu__item">
                    <a href="#" class="top-menu__link">Услуги и цены</a>
                    <div class="dropdown-menu-wrapper">
                        <ul class="dropdown-menu">
                            <li class="menu__item"><a href="#" class="menu__link">Экскурсии</a></li>
                            <li class="menu__item"><a href="#" class="menu__link">Бизнес-туры</a></li>
                            <li class="menu__item"><a href="#" class="menu__link">Трансферы</a></li>
                            <li class="menu__item"><a href="#" class="menu__link">VIP такси</a></li>
                            <li class="menu__item"><a href="#" class="menu__link">Свадьбы</a></li>
                            <li class="menu__item"><a href="#" class="menu__link">Пассажирские перевозки</a></li>
                        </ul>
                    </div>
                </li>
                <li class="top-menu__item"><a href="/autopark.html" class="top-menu__link">Автопарк</a></li>
                <li class="top-menu__item"><a href="/gallery.html" class="top-menu__link">Галерея</a>
                    <div class="dropdown-menu-wrapper">
                        <ul class="dropdown-menu">
                            <li class="menu__item"><a href="#" class="menu__link">Пассажирские перевозки</a></li>
                            <li class="menu__item"><a href="#" class="menu__link">Бизнес-туры</a></li>
                            <li class="menu__item"><a href="#" class="menu__link">Трансферы</a></li>
                            <li class="menu__item"><a href="#" class="menu__link">VIP такси</a></li>
                            <li class="menu__item"><a href="#" class="menu__link">Свадьбы</a></li>
                            <li class="menu__item"><a href="#" class="menu__link">Экскурсии</a></li>
                        </ul>
                    </div>
                </li>
                <li class="top-menu__item"><a href="#" class="top-menu__link">Отзывы</a></li>
                <li class="top-menu__item"><a href="#" class="top-menu__link">Новости</a></li>
                <li class="top-menu__item"><a href="#" class="top-menu__link">Контакты</a></li>
            </ul>
        </div>
    </div>
</div>