.navbar {
  background: rgba(0, 0, 0, .8);
  margin: 0;
  padding: 0;
  width: 100%;
  clear: both;
}

.navbar:before, .navbar:after{
  content: " ";
  display: table;
  width: 1px;
  height: 1px;
  clear: both;
}

.navbar-wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.logo-wrapper {
  display: block;
  float: left;
  width: 20%;
}

.logo {
  padding: 40px 0 30px 110px;
}

.navigation {
  width: 65%;
  float: right;
}

.top-menu {
  margin: 0;
  padding: 0;
  position: relative;
}

.top-menu__item {
  float: left;
  margin-right: 25px;
  font-family: 'ClearSans';
  font-size: 16px;
  text-transform: uppercase;
  display: block;
  position: relative;
}

.top-menu__link {
  color: #fff;
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 40px 0;
}

.top-menu__link:hover {
  color: #999;
}

.dropdown-menu-wrapper{
  display: block;
  position: fixed;
  width: 100%;
  left: 0;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.8);
  margin: 0;
  padding: 0;
  text-transform: none;
}

.dropdown-menu {
  display: none;
  position: relative;
}

.top-menu__item:hover .dropdown-menu {
  list-style: none;
  display: block;
  overflow: hidden;
  width: 65%;
  float: right;
  padding: 3px 0;
}

.dropdown-parent:hover:before{
  content: "";
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid rgba(0, 0, 0, 0.8);
  position: absolute;
  bottom: -10px;
  z-index: 10;
  left: 45%;
}

.menu__link{
  color: #333;
  text-decoration: none;
  margin-right: 30px;
  padding: 5px 0;
  display: block;
  text-align: center;
}

.menu__link:hover{
  color: #000000;
  text-decoration: underline;
}

.dropdown-menu .menu__item {
  float: left;
  margin: 0;
  font-size: 13px;
  line-height: 2.5;
}

@media all and (max-width: 1180px){

  .navbar-wrapper{
    overflow: hidden;
  }

  .logo-wrapper {
    display: block;
    float: none;
    clear: both;
    width: 100%;
  }

  .logo{
    text-align: center;
    padding: 40px 0 30px;
  }

  .navigation{
    width: 100%;
    clear: both;
    float: none;
  }

  .top-menu{
    width: 70%;
    margin: 0 auto 20px;
    overflow: hidden;
  }

  .top-menu__link{
    padding: 10px 0;
    text-align: center;
  }

  .dropdown-parent:hover .dropdown-menu{
     width: 83%;
  }
}

@media all and (min-width: 1000px) and (max-width: 1180px){
  .dropdown-parent:hover .dropdown-menu {
    width: 90%;
  }
}


@media all and (max-width: 1090px){

  .top-menu{
    width: 65%;
    margin: 0 auto 20px;
    overflow: hidden;
  }

  .top-menu__item{
    font-size: 14px;
    margin-right: 20px;
  }
}

@media all and (max-width: 1000px){
  .top-menu{
    width: 70%;
  }
}

@media all and (max-width: 929px){
  .top-menu {
    width: 60%;
  }

  .dropdown-parent:hover .dropdown-menu {
    width: 90%;
  }

  .top-menu__item{
    display: block;
    float: none;
    font-size: 16px;
    padding: 5px 0;
  }

  .top-menu__link{
    text-align: left;
    display: inline;
  }

  .dropdown-menu{
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .dropdown-menu .menu__item{
    float: none;
    display: block;
    text-indent: 15px;
    font-size: 13px;
  }

  .dropdown-menu-wrapper{
    display: none;
    position: relative;
    text-transform: uppercase;
    padding: 15px 0;
    margin: 10px 0;
  }

  .dropdown-parent:before, .dropdown-parent:after{
    content: "";
    border: none;
    width: 32px;
    height: 32px;
    display: block;
    background: url("%=static=%assets/navbar/menu_bar_.png") no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }

  .menu__link{
    display: block;
    color: #666;
    width: 100%;
    text-align: left;
  }

  .menu__link:hover{
    text-decoration: none;
    color: #000000;
  }

  .top-menu__item:hover .dropdown-menu{
     float: none;
  }
}

@media all and (max-width: 590px){
  .top-menu{
    width: 80%;
  }
}
