.responses {
  background: url('%=static=%assets/responses/responses-bg.jpg') repeat;
  width: 100%;
  min-height: 639px;
  position: relative;
  padding: 103px 0 0;
  background-position: 0 96px;
  overflow: hidden;
}

.responses:before {
  content: '';
  background-image: url("%=static=%assets/responses/responses-bg-top.png");
  display: block;
  height: 103px;
  width: 100%;
  position: absolute;
  top: -7px;
}

.responses:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 13px;
  background: rgba(255, 255, 255, .2);
  top: 90px;
  left: 0;
}

.responses-wrapper {
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto 30px;
  padding: 35px 0;
}

.responses__title {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: #ffffff;
  font-family: 'ClearSans-Bold';
  margin-bottom: 30px;
}

.responses-list__wrapper {
  display: block;
  width: 100%;
  position: relative;
  margin-bottom: 60px;
}

.responses-carousel {
  width: 70%;
  display: block;
  float: left;
}

.responses-list {
  width: 100%;
  list-style: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.responses-list__item {
  margin-right: 9%;
  float: left;
  background: rgba(0, 0, 0, .8);
}

.responses-list__item-wrapper {
  padding: 55px 15px;
}

.response-name-block {
  margin-bottom: 20px;
  overflow: hidden;
}

.responses-list__item-text {
  color: #ffffff;
  font-family: 'FiraSans-Italic';
  font-style: italic;
  font-size: 14px;
}

.responses-list__item-img {
  float: left;
  margin-right: 45px;
}

.responses-list__item-name {
  font-family: 'FiraSans-Bold';
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
}

.responses-list__item-pub-block {
  font-family: 'FiraSans-Medium';
  margin-bottom: 35px;
  color: #83d0f5;
}

.responses-list__item-pub-block-item {
  margin-bottom: 2px;
}

.upper-text {
  text-transform: uppercase;
}

.responses-new-block {
  background: rgba(0, 204, 255, .31);
  width: 22%;
  margin-left: 73%;
}

.responses-new-block__wrapper {
  padding: 140px 50px;
  font-family: 'FiraSans-Regular';
  font-size: 24px;
  text-align: center;
  color: #ffffff;

}

.responses-new-block__slogan {
  margin-bottom: 73px;
}

.new-response-block .form-btn {
  font-family: 'ClearSans';
  font-size: 14px;
  color: #000000;
  border: 1px solid #000000;

  &:hover {
    color: #ffffff;
    border: 1px solid #ffffff;
  }
}

.responses-list .owl-item img {
  width: auto;
}

.responses-controls{
  position: absolute;
  width: 100%;
  z-index: 20;
  top: 50%;
}

.responses-control {
  width: 39px;
  height: 39px;
  cursor: pointer;
}

.prev-control {
  background: url("%=static=%assets/responses/prev-arrow.png") no-repeat;
  float: left;
  margin-left: -30px;
}

.next-control {
  background: url("%=static=%assets/responses/next-arrow.png") no-repeat;
  float: right;
  margin-right: 35px;
}

@media all and (max-width: 1280px){
  .responses-carousel {
    width: 60%;
    display: block;
    float: left;
    margin-left: 5%;
  }

  .next-control {
    margin-right: 40%;
  }
}

@media all and (max-width: 1220px){
  .responses-carousel {
    width: 75%;
    display: block;
    float: left;
    margin-left: 5%;
  }

  .responses-new-block {
    width: 20%;
    margin-left: 79%;
  }

  .responses-new-block__wrapper {
    padding: 140px 10px;
  }

  .next-control {
    margin-right: 25%;
  }
}

@media all and (max-width: 890px){
  .responses-new-block__wrapper {
    padding: 125px 10px;
  }
}

@media all and (max-width: 780px){
    .responses-new-block{
      width: 80%;
      float: none;
      clear: both;
      margin: 0 auto;
    }

  .responses-carousel {
    width: 80%;
    display: block;
    float: left;
    margin: 0 auto 50px;
  }

  .responses-new-block__wrapper {
    padding: 30px 10px;
  }

  .responses-new-block__slogan {
    margin-bottom: 20px;
  }

  .responses-carousel {
    margin: 0 0 50px 12%;
  }

  .responses-controls {
    top: 30%;
  }

  .next-control {
    margin-right: 21%;
  }
}

@media all and (min-width: 320px) and (max-width: 480px){
  .responses-carousel{
    margin: 0 0 15px 14%;
  }
}