<div class="responses">
    <div class="responses-wrapper">
        <div class="responses__title">Отзывы</div>
        <div class="responses-list__wrapper">

            <!-- Обертка для карусели -->
            <div class="responses-carousel">
                <!-- Контролы для карусели -->
                <div class="responses-controls">
                    <div class="responses-control prev-control"></div>
                    <div class="responses-control next-control"></div>
                </div>

                <!-- Содержимое карусели -->
                <ul class="responses-list">
                    <li class="responses-list__item">
                        <div class="responses-list__item-wrapper">
                            <div class="responses-list__item-meta">
                                <div class="response-name-block">
                                    <img src="%=static=%img/assets/responses/man-response.png" alt=""
                                         class="responses-list__item-img">
                                    <div class="responses-list__item-name">Евгений Витальевич</div>
                                </div>
                                <div class="responses-list__item-pub-block">
                                    <div class="responses-list__item-pub-block-item">тема: <span
                                            class="upper-text">бизнес-туры</span></div>
                                    <div class="responses-list__item-pub-block-item">дата: 05.05.2016</div>
                                </div>
                            </div>
                            <div class="responses-list__item-text">
                                <p>У нас был 4-часовой утренний тур с Светланой. Ее английский язык был прекрасным, с
                                    маленьким
                                    британским акцентом. Мы видели St. Исаакса, Храм Спаса на Крови, Петропавловского
                                    собора
                                    Фортресса и т.д. Мы останавливались во многих фотографий и получили отличный
                                    комментарий
                                    по пути и пошли в церкви и Фортрессе. Мы были в группе из шести человек и имели
                                    интересное
                                    и информативное время</p>
                            </div>
                        </div>
                    </li>
                    <li class="responses-list__item">
                        <div class="responses-list__item-wrapper">
                            <div class="responses-list__item-meta">
                                <div class="response-name-block">
                                    <img src="%=static=%img/assets/responses/feman-response.png" alt=""
                                         class="responses-list__item-img">
                                    <div class="responses-list__item-name">Екатерина</div>
                                </div>
                                <div class="responses-list__item-pub-block">
                                    <div class="responses-list__item-pub-block-item">тема: <span
                                            class="upper-text">экскурсии</span></div>
                                    <div class="responses-list__item-pub-block-item">дата: 05.05.2016</div>
                                </div>
                            </div>
                            <div class="responses-list__item-text">
                                <p>У нас был 4-часовой утренний тур с Светланой. Ее английский язык был прекрасным, с
                                    маленьким
                                    британским акцентом. Мы видели St. Исаакса, Храм Спаса на Крови, Петропавловского
                                    собора
                                    Фортресса и т.д. Мы останавливались во многих фотографий и получили отличный
                                    комментарий
                                    по пути и пошли в церкви и Фортрессе. Мы были в группе из шести человек и имели
                                    интересное
                                    и информативное время</p>
                            </div>
                        </div>
                    </li>
                    <li class="responses-list__item">
                        <div class="responses-list__item-wrapper">
                            <div class="responses-list__item-meta">
                                <div class="response-name-block">
                                    <img src="%=static=%img/assets/responses/feman-response.png" alt=""
                                         class="responses-list__item-img">
                                    <div class="responses-list__item-name">Алиса Селезнева</div>
                                </div>
                                <div class="responses-list__item-pub-block">
                                    <div class="responses-list__item-pub-block-item">тема: <span
                                            class="upper-text">бизнес-туры</span></div>
                                    <div class="responses-list__item-pub-block-item">дата: 05.05.2016</div>
                                </div>
                            </div>
                            <div class="responses-list__item-text">
                                <p>У нас был 4-часовой утренний тур с Светланой. Ее английский язык был прекрасным, с
                                    маленьким
                                    британским акцентом. Мы видели St. Исаакса, Храм Спаса на Крови, Петропавловского
                                    собора
                                    Фортресса и т.д. Мы останавливались во многих фотографий и получили отличный
                                    комментарий
                                    по пути и пошли в церкви и Фортрессе. Мы были в группе из шести человек и имели
                                    интересное
                                    и информативное время</p>
                            </div>
                        </div>
                    </li>
                    <li class="responses-list__item">
                        <div class="responses-list__item-wrapper">
                            <div class="responses-list__item-meta">
                                <div class="response-name-block">
                                    <img src="%=static=%img/assets/responses/man-response.png" alt=""
                                         class="responses-list__item-img">
                                    <div class="responses-list__item-name">Алиса Селезнева</div>
                                </div>
                                <div class="responses-list__item-pub-block">
                                    <div class="responses-list__item-pub-block-item">тема: <span
                                            class="upper-text">бизнес-туры</span></div>
                                    <div class="responses-list__item-pub-block-item">дата: 05.05.2016</div>
                                </div>
                            </div>
                            <div class="responses-list__item-text">
                                <p>У нас был 4-часовой утренний тур с Светланой. Ее английский язык был прекрасным, с
                                    маленьким
                                    британским акцентом. Мы видели St. Исаакса, Храм Спаса на Крови, Петропавловского
                                    собора
                                    Фортресса и т.д. Мы останавливались во многих фотографий и получили отличный
                                    комментарий
                                    по пути и пошли в церкви и Фортрессе. Мы были в группе из шести человек и имели
                                    интересное
                                    и информативное время</p>
                            </div>
                        </div>
                    </li>
                    <li class="responses-list__item">
                        <div class="responses-list__item-wrapper">
                            <div class="responses-list__item-meta">
                                <div class="response-name-block">
                                    <img src="%=static=%img/assets/responses/man-response.png" alt=""
                                         class="responses-list__item-img">
                                    <div class="responses-list__item-name">Василий Борискин</div>
                                </div>
                                <div class="responses-list__item-pub-block">
                                    <div class="responses-list__item-pub-block-item">тема: <span
                                            class="upper-text">бизнес-туры</span></div>
                                    <div class="responses-list__item-pub-block-item">дата: 05.05.2016</div>
                                </div>
                            </div>
                            <div class="responses-list__item-text">
                                <p>У нас был 4-часовой утренний тур с Светланой. Ее английский язык был прекрасным, с
                                    маленьким
                                    британским акцентом. Мы видели St. Исаакса, Храм Спаса на Крови, Петропавловского
                                    собора
                                    Фортресса и т.д. Мы останавливались во многих фотографий и получили отличный
                                    комментарий
                                    по пути и пошли в церкви и Фортрессе. Мы были в группе из шести человек и имели
                                    интересное
                                    и информативное время</p>
                            </div>
                        </div>
                    </li>
                    <li class="responses-list__item">
                        <div class="responses-list__item-wrapper">
                            <div class="responses-list__item-meta">
                                <div class="response-name-block">
                                    <img src="%=static=%img/assets/responses/feman-response.png" alt=""
                                         class="responses-list__item-img">
                                    <div class="responses-list__item-name">Мария Вольштейн</div>
                                </div>
                                <div class="responses-list__item-pub-block">
                                    <div class="responses-list__item-pub-block-item">тема: <span
                                            class="upper-text">бизнес-туры</span></div>
                                    <div class="responses-list__item-pub-block-item">дата: 05.05.2016</div>
                                </div>
                            </div>
                            <div class="responses-list__item-text">
                                <p>У нас был 4-часовой утренний тур с Светланой. Ее английский язык был прекрасным, с
                                    маленьким
                                    британским акцентом. Мы видели St. Исаакса, Храм Спаса на Крови, Петропавловского
                                    собора
                                    Фортресса и т.д. Мы останавливались во многих фотографий и получили отличный
                                    комментарий
                                    по пути и пошли в церкви и Фортрессе. Мы были в группе из шести человек и имели
                                    интересное
                                    и информативное время</p>
                            </div>
                        </div>
                    </li>
                    <li class="responses-list__item">
                        <div class="responses-list__item-wrapper">
                            <div class="responses-list__item-meta">
                                <div class="response-name-block">
                                    <img src="%=static=%img/assets/responses/man-response.png" alt=""
                                         class="responses-list__item-img">
                                    <div class="responses-list__item-name">Марк Шварценгольд</div>
                                </div>
                                <div class="responses-list__item-pub-block">
                                    <div class="responses-list__item-pub-block-item">тема: <span
                                            class="upper-text">бизнес-туры</span></div>
                                    <div class="responses-list__item-pub-block-item">дата: 05.05.2016</div>
                                </div>
                            </div>
                            <div class="responses-list__item-text">
                                <p>У нас был 4-часовой утренний тур с Светланой. Ее английский язык был прекрасным, с
                                    маленьким
                                    британским акцентом. Мы видели St. Исаакса, Храм Спаса на Крови, Петропавловского
                                    собора
                                    Фортресса и т.д. Мы останавливались во многих фотографий и получили отличный
                                    комментарий
                                    по пути и пошли в церкви и Фортрессе. Мы были в группе из шести человек и имели
                                    интересное
                                    и информативное время</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <!-- Блок с текстом и кнопкой вызова попапа для отправки нового отзыва  -->
            <div class="responses-new-block">
                <div class="responses-new-block__wrapper">
                    <div class="responses-new-block__slogan">
                        Здесь может<br />быть<br /><b>Ваш отзыв</b>
                    </div>
                    <div class="new-response-block">
                        <button class="form-btn" id="new-response-btn">Написать</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
