<div class="responses">
    <div class="responses-pattern">
    <div class="responses-wrapper">
        <h1 class="responses__title">Отзывы</h1>
            <div class="responses__controls responses__controls-next"></div>
            <div class="responses__controls responses__controls-prev"></div>
        <div class="responses__list">

            <div class="responses__item">
                <div class="responses__header">
                    <div class="responses__portrait sprite-person sprite-person-male"></div>
                    <div class="responses__person">Евгений <br> Витальевич</div>
                </div>
                <div class="responses__body">
                    <ul class="responses__info">
                        <li class="responses__theme"><span class="responses__info-title">тема: </span>БИЗНЕС-ТУРЫ</li>
                        <li class="responses__date"><span class="responses__info-title">дата: </span>05.05.2016</li>
                    </ul>
                    <div class="responses__content">
                        У нас был 4-часовой утренний тур с Светланой. Ее английский язык был прекрасным, с маленьким британским акцентом. Мы видели St. Исаакса, Храм Спаса на Крови, Петропавловского собора
                        Фортресса и т.д. Мы
                        останавливались во многих
                        фотографий и получили
                        отличный комментарий по пути и пошли в церкви и Фортрессе. Мы были в группе из шести человек и имели интересное
                        и информативное время
                    </div>
                </div>
            </div>
            <div class="responses__item">
                <div class="responses__header">
                    <div class="responses__portrait sprite-person sprite-person-female"></div>
                    <div class="responses__person">Екатерина</div>
                </div>
                <div class="responses__body">
                    <ul class="responses__info">
                        <li class="responses__theme"><span class="responses__info-title">тема: </span>БИЗНЕС-ТУРЫ</li>
                        <li class="responses__date"><span class="responses__info-title">дата: </span>05.05.2016</li>
                    </ul>
                    <div class="responses__content">
                        В Санкт-Петербурге я впервые и город настолько красив, что можно влюбиться с первого взгляда. Взяв обзорную экскурсию - не пожалела. Город старинный с очень красивой архитектурой, особенно понравились здания музеев, театров.
                    </div>
                </div>
            </div>
            <div class="responses__item">
                <div class="responses__header">
                    <div class="responses__portrait sprite-person sprite-person-male"></div>
                    <div class="responses__person">Евгений <br> Витальевич</div>
                </div>
                <div class="responses__body">
                    <ul class="responses__info">
                        <li class="responses__theme"><span class="responses__info-title">тема: </span>БИЗНЕС-ТУРЫ</li>
                        <li class="responses__date"><span class="responses__info-title">дата: </span>05.05.2016</li>
                    </ul>
                    <div class="responses__content">
                        У нас был 4-часовой утренний тур с Светланой. Ее английский язык был прекрасным, с маленьким британским акцентом. Мы видели St. Исаакса, Храм Спаса на Крови, Петропавловского собора
                        Фортресса и т.д. Мы
                        останавливались во многих
                        фотографий и получили
                        отличный комментарий по пути и пошли в церкви и Фортрессе. Мы были в группе из шести человек и имели интересное
                        и информативное время
                    </div>
                </div>
            </div>
            <div class="responses__item">
                <div class="responses__header">
                    <div class="responses__portrait sprite-person sprite-person-female"></div>
                    <div class="responses__person">Екатерина</div>
                </div>
                <div class="responses__body">
                    <ul class="responses__info">
                        <li class="responses__theme"><span class="responses__info-title">тема: </span>БИЗНЕС-ТУРЫ</li>
                        <li class="responses__date"><span class="responses__info-title">дата: </span>05.05.2016</li>
                    </ul>
                    <div class="responses__content">
                        В Санкт-Петербурге я впервые и город настолько красив, что можно влюбиться с первого взгляда. Взяв обзорную экскурсию - не пожалела. Город старинный с очень красивой архитектурой, особенно понравились здания музеев, театров.
                    </div>
                </div>
            </div>
            <div class="responses__item">
                <div class="responses__header">
                    <div class="responses__portrait sprite-person sprite-person-female"></div>
                    <div class="responses__person">Екатерина</div>
                </div>
                <div class="responses__body">
                    <ul class="responses__info">
                        <li class="responses__theme"><span class="responses__info-title">тема: </span>БИЗНЕС-ТУРЫ</li>
                        <li class="responses__date"><span class="responses__info-title">дата: </span>05.05.2016</li>
                    </ul>
                    <div class="responses__content">
                        В Санкт-Петербурге я впервые и город настолько красив, что можно влюбиться с первого взгляда. Взяв обзорную экскурсию - не пожалела. Город старинный с очень красивой архитектурой, особенно понравились здания музеев, театров.
                    </div>
                </div>
            </div>
        </div>
        <div class="responses__item responses__new">
            <div class="responses__new__text">
                Здесь может быть <br><b>Ваш отзыв</b>
            </div>
            <a href="#" class="responses__new__button">Написать</a>
        </div>
    </div>
    </div>
</div>
