.content-statue {
  background: url('%=static=%assets/content-statue/bg-statue-block.png') no-repeat;
  background-size: cover;
  position: relative;
}

.content-statue:before {
  display: block;
  height: 100px;
  background: url('%=static=%assets/content-statue/top-border.png') repeat-x;
  width: 100%;
  content: " ";
  z-index: 10;
}

.content-statue .container:before, .content-statue .container:after {
  content: " ";
  background: url('%=static=%assets/content-statue/left-statue.png') no-repeat;
  width: 233px;
  height: 1008px;
  display: block;
  position: absolute;
  top: 40px;
}

.content-statue .container:before {
  left: 140px;
}

.content-statue .container:after {
  background: url('%=static=%assets/content-statue/right-statue.png') no-repeat;
  right: 140px;
}
.content-statue .container.main-content{
  padding: 140px 130px;
}

.ih-item {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.ih-item .info {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 30px;
  left: 30px;
  z-index: 10;
  border: 20px solid transparent;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  text-align: center;
}

.ih-item .img {
  z-index: 5;
}

.ih-item .info h3 {
  margin: 0;
  padding: 0;
  visibility: visible;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  position: relative;
  font-weight: normal;
  top: 65px;
  font-family: 'CoreSansA65Bold', sans-serif;
}

.ih-item a:before {
  content: " ";
  width: 260px;
  height: 260px;
  position: absolute;
  display: block;
  background-color: rgba(68, 68, 68, 0.7);

  -webkit-transition: background-color 0.5s ease-in-out;
  -moz-transition: background-color 0.5s ease-in-out;
  -ms-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}

.ih-item a:hover:before {
  background-color: transparent;
}

.content-statue .container.main-content {
  margin: 0 0 140px 385px;
  padding-top: 140px;
}

.mb50{
  margin-bottom: 75px;
}
