.content-statue {
  background: url('%=static=%assets/content-statue/statue-bg.jpg') no-repeat;
  min-height: 1040px;
  background-size: cover;
  height: 100%;
}

.content-statue:before {
  content: "";
  display: block;
  clear: both;
  background: url('%=static=%assets/content-statue/top-border.png') repeat-x;
  width: 100%;
  height: 100px;
}

.main-content {
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
  position: relative;
}

.main-content:before {
  display: block;
  content: "";
  width: 233px;
  height: 1008px;
  background: url('%=static=%assets/content-statue/left-statue.png') no-repeat;
  position: absolute;
  top: -70px;
  left: 0px;
}

.main-content:after {
  display: block;
  content: "";
  width: 233px;
  height: 1008px;
  background: url('%=static=%assets/content-statue/right-statue.png') no-repeat;
  position: absolute;
  top: -70px;
  right: 0px;
}

.service-list__wrapper {
  padding: 140px 200px;
  overflow: hidden;
}

.services-list {
  margin: 0 50px 0 90px;
  padding: 0;
  overflow: hidden;
  width: 90%;
}

.services-list__item {
  float: left;
  list-style: none;
  display: block;
  width: 260px;
  height: 260px;
  margin: 0 50px 70px 0;
  position: relative;
}

.services-list__img {
  max-width: 260px;
  max-height: 260px;
  width: 100%;
  height: 100%;
  border-radius: 50%;

  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);

  -webkit-transition: -webkit-filter 0.5s ease-in-out;
  -moz-transition: -moz-filter 0.5s ease-in-out;
  -ms-transition: -ms-filter 0.5s ease-in-out;
  -o-transition: -o-filter 0.5s ease-in-out;
  transition: filter 0.5s ease-in-out;
}

.services-list__link:hover .services-list__img {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);
}

.services-list__link:hover .services-list__item-title{
  background-color: rgba(0, 0, 0, 0.4);
}

.services-list__link {
  text-decoration: none;
}

.services-list__item-title {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  width: 220px;
  height: 130px;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 20px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 22px;
  font-family: 'CoreSansA65Bold';
  font-weight: normal;
  padding: 90px 0px 0px 0px;


  -webkit-transition: background-color 0.5s ease-in-out;
  -moz-transition: background-color 0.5s ease-in-out;
  -ms-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}

@media all and (max-width: 1450px) {
  .services-list__item {
    width: 240px;
    height: 240px;

  }

  .services-list__item-title{
    width: 200px;
    height: 110px;
    padding: 90px 0px 0px 0px;
  }
}

@media all and (min-width: 1280px) and (max-width: 1390px) {
  .services-list__item {
    width: 205px;
    height: 205px;
  }

  .services-list__item-title{
    width: 165px;
    height: 90px;
    padding: 75px 0px 0px 0px;
    font-size: 20px;
  }
}

@media all and (min-width: 1180px) and (max-width: 1279px){

  .service-list__wrapper {
    padding: 80px 200px 0px 250px;
    overflow: hidden;
  }

  .services-list__item {
    width: 240px;
    height: 240px;
    margin: 0 50px 30px 0;
  }

}

@media all and (max-width: 1179px){
  .services-list__item {
    margin: 0 50px 30px 0;
  }

  .service-list__wrapper {
    padding: 65px 200px;
    overflow: hidden;
  }
}

@media all and (max-width: 1090px){
  .services-list {
    margin: 0 50px 0 90px;
  }
}

@media all and (max-width: 1060px){
  .services-list__item {
    width: 210px;
    height: 210px;
    margin: 0 50px 30px 0;
  }


  .services-list__item-title{
    width: 170px;
    height: 95px;
    padding: 75px 0px 0px 0px;
    font-size: 18px;
  }
}

@media all and (max-width: 994px){
  .content-statue{
    min-height: auto;
  }

  .main-content:after, .main-content:before, .content-statue:before{
    display: none;
  }

  .service-list__wrapper {
    padding: 65px;
  }

  .services-list__item {
    margin: 0 40px 30px 0;
  }
}

@media all and (max-width: 980px){
  .services-list__item {
    width: 260px;
    height: 260px;
    margin: 0 10% 30px 0;
  }

  .services-list__item-title{
    width: 200px;
    height: 100px;
    padding: 95px 0px 0px 0px;
    font-size: 22px;
    top: 30px;
    left: 30px;
  }
}

@media all and (max-width: 869px){
  .service-list__wrapper {
    padding: 65px 50px;
  }

  .services-list__item {
    width: 210px;
    height: 210px;
    margin: 0 13% 50px 0;
  }

  .services-list__item-title {
    width: 170px;
    height: 100px;
    padding: 70px 0px 0px 0px;
    font-size: 20px;
    top: 20px;
    left: 20px;
  }
}

@media all and (max-width: 667px){
  .services-list {
    margin: 0 50px 0 60px;
  }

  .services-list__item {
    width: 180px;
    height: 180px;
    margin: 0 12% 50px 0;
  }

  .services-list__item-title {
    width: 150px;
    height: 85px;
    padding: 65px 0px 0px 0px;
    font-size: 20px;
    top: 15px;
    left: 15px;
  }
}


@media all and (max-width: 601px){
  .services-list__item {
    margin: 0 10% 50px 0;
  }

  .services-list {
    margin: 0 50px 0 50px;
  }
}

@media all and (max-width: 600px){
  .services-list__item {
    margin: 0 9% 50px 0;
  }
}

@media all and (min-width: 481px) and (max-width: 599px){
  .services-list__item{
    width: 150px;
    height: 150px;
  }

  .services-list__item-title {
    width: 130px;
    height: 70px;
    padding: 55px 0px 0px 0px;
    top: 13px;
    left: 10px;
    font-size: 16px;
  }
}

@media all and (min-width: 320px) and (max-width: 480px){
  .services-list {
    padding: 0;
    margin: 0 auto;
    width: 190px;
  }
}

@media all and (width: 320px){
  .services-list {
    margin: 0 50px 0 20px;
  }
}