<div class="content-statue">
    <div class="main-content">
        <div class="service-list__wrapper">
            <ul class="services-list">
                <li class="services-list__item">
                    <a href="#" class="services-list__link">
                        <img src="%=static=%img/assets/content-statue/content-1.jpg" alt="" class="services-list__img">
                        <div class="services-list__item-title">
                            Экскурсии
                        </div>
                    </a>
                </li>
                <li class="services-list__item">
                    <a href="#" class="services-list__link">
                        <img src="%=static=%img/assets/content-statue/content-2.jpg" alt="" class="services-list__img">
                        <div class="services-list__item-title">
                            Бизнес туры
                        </div>
                    </a>
                </li>
                <li class="services-list__item">
                    <a href="#" class="services-list__link">
                        <img src="%=static=%img/assets/content-statue/content-3.jpg" alt="" class="services-list__img">
                        <div class="services-list__item-title">
                            Трансферы
                        </div>
                    </a>
                </li>
                <li class="services-list__item">
                    <a href="#" class="services-list__link">
                        <img src="%=static=%img/assets/content-statue/content-4.jpg" alt="" class="services-list__img">
                        <div class="services-list__item-title">
                            VIP такси
                        </div>
                    </a>
                </li>
                <li class="services-list__item">
                    <a href="#" class="services-list__link">
                        <img src="%=static=%img/assets/content-statue/content-5.jpg" alt="" class="services-list__img">
                        <div class="services-list__item-title">
                            Свадьбы
                        </div>
                    </a>
                </li>
                <li class="services-list__item">
                    <a href="#" class="services-list__link">
                        <img src="%=static=%img/assets/content-statue/content-6.jpg" alt="" class="services-list__img">
                        <div class="services-list__item-title">
                            Пассажирские перевозки
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>