<div class="content-statue">
    <div class="container main-content">
        <div class="row mb50">
            <div class="col-sm-4">
                <!-- colored -->
                <div class="ih-item circle effect13 top_to_bottom"><a href="#">
                    <div class="img"><img src="%=static=%img/assets/content-statue/content-1.jpg" alt="img">
                    </div>
                    <div class="info">
                        <h3>Экскурсии</h3>
                    </div>
                </a></div>
                <!-- end colored -->
            </div>
            <div class="col-sm-4">
                <!-- colored -->
                <div class="ih-item circle effect13 top_to_bottom"><a href="#">
                    <div class="img"><img src="%=static=%img/assets/content-statue/content-2.jpg" alt="img">
                    </div>
                    <div class="info">
                        <h3>Бизнес-туры</h3>
                    </div>
                </a></div>
                <!-- end colored -->
            </div>
            <div class="col-sm-4">
                <!-- colored -->
                <div class="ih-item circle effect13 top_to_bottom"><a href="#">
                    <div class="img"><img src="%=static=%img/assets/content-statue/content-3.jpg" alt="img">
                    </div>
                    <div class="info">

                        <h3>Трансферы</h3>
                    </div>
                </a></div>
                <!-- end colored -->
            </div>
        </div>
        <div class="row mb50">
            <div class="col-sm-4">
                <!-- colored -->
                <div class="ih-item circle effect13 top_to_bottom"><a href="#">
                    <div class="img"><img src="%=static=%img/assets/content-statue/content-4.jpg" alt="img">
                    </div>
                    <div class="info">

                        <h3>VIP такси</h3>
                    </div>
                </a></div>
                <!-- end colored -->
            </div>
            <div class="col-sm-4">
                <!-- colored -->
                <div class="ih-item circle effect13 top_to_bottom"><a href="#">
                    <div class="img"><img src="%=static=%img/assets/content-statue/content-5.jpg" alt="img">
                    </div>
                    <div class="info">
                        <h3>Свадьбы</h3>
                    </div>
                </a></div>
                <!-- end colored -->
            </div>
            <div class="col-sm-4">
                <!-- colored -->
                <div class="ih-item circle colored effect13 top_to_bottom"><a href="#">
                    <div class="img"><img src="%=static=%img/assets/content-statue/content-6.jpg" alt="img">
                    </div>
                    <div class="info">
                        <h3>Пассажирские перевозки</h3>
                    </div>
                </a></div>
                <!-- end colored -->
            </div>
        </div>
    </div>
</div>